<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="navbar-nav">
    <a class="nav-item nav-link active" href="{{url_for('home')}}">Home </a>
  </div>
  {% if current_user.is_authenticated%}
  <div class="navbar-nav">
    <a class="nav-item nav-link active" href="{{url_for('logout')}}">Logout </a>
  </div>
  <div class="navbar-nav">
    <a class="nav-item nav-link active" href="{{url_for('profile')}}">Profile </a>
  </div>
  {%else%}
  <div class="navbar-nav">
    <a class="nav-item nav-link active" href="{{url_for('register')}}"
      >Register
    </a>
  </div>
  <div class="navbar-nav">
    <a class="nav-item nav-link active" href="{{url_for('login')}}">Login </a>
  </div>
  {% endif %}


</nav>
